p {
  font-family: Arial;
  color: grey;
 
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
}

.text_box {
  font-size: 16px;
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.disclaimer {
  font-size: 16px;
  margin-bottom: 18px;
}

.join_button {
  background-color: blue;
  color: white;
  border: none;
  font-size: 20px;
  width: 400px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 30px;
}